# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.*
.env.local

#Django media / static / migrations
 media/
 static/
 migrations/

# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django specifics
*.sqlite3
db.sqlite3
local_settings.py

# Virtual environment
venv/
env/
ENV/
.venv/

# Test / Coverage
.coverage 
htmlcov/
pytest_cache/

# Misc
.cache/