body{
    background-color: bisque;
    font-family: "Comic Relief", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.qrcode{
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.qrcode img{
    height: 300px;
    width: 300pxs;
    margin-bottom: 10px;
}
.qrcode h1{
    font-size: 1.5em;
    font-weight: 400;
    color: #363636;
}
.qrcode p{
    font-size: 0.9em;
    font-weight: 400;
    color: #363636;
}