* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
    position: absolute;
    top: 0;
    left: -1%;
    width: 100%;
    padding: 1rem;
    z-index: 100;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo a img{
    height: 20vh;
}
.nav-links{
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    margin-right: 30px;
}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.3s;
    font-size: x-large;
}
.nav-links a:hover{
    color: rgb(6, 212, 235);
}
.hero {
  width: 100%;
  height: 200vh;
  position: relative;
}

.hero-container {
  width: 100%;
  height: 100%;
}

.hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 50%;
  padding: 5px 0;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(6, 212, 235, 0.95);
  animation: slideIn 0.2s ease-in;
}

.hero-header h2 {
  width: 30ch;
  text-align: center;
  color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15rem solid black;
  font-weight: bold;
  font-size: xx-large;
  animation: typing 2s steps(50) infinite alternate-reverse, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.video-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 59.9%;
  overflow: hidden;
  border-radius: 10px;
}

.video-carousel video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1s ease;
  top: 0;
  left: 0;
  z-index: 0;
}

.video-carousel video.active {
  opacity: 1;
  z-index: 1;
}

.video-carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: whitesmoke;
  border: none;
  font-size: 11.5rem;
  cursor: pointer;
  padding: 00.5rem 0.8rem;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.3s;
}

.video-carousel button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.video-carousel .prev {
  left: 10px;
}

.video-carousel .next {
  right: 10px;
}

.games {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.games-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.god-of-war-container, .spider-man-container, .pokemon-container, .mario-container {
  padding: 3px;
  border: 5px double black;
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

.god-of-war-container img, .spider-man-container img, .pokemon-container img, .mario-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.main-content-container{
    background-color: black;
    height: 250vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-header{
    display: flex;
    background-color: whitesmoke;
    height: 7%;
    width: 22.8%;
    text-align: center;
    align-items: center;
    position: relative;
    top: 0.5%;
    left: 2%;
    margin-bottom: 47px;
    border-radius: 10px;
    padding: 5px ;
    box-shadow: 5px 5px 5px rgba(6, 212, 235, 0.98);
}
.main-header h2{
  width: 100%;
  color: black;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.25rem solid black;
  font-weight: bold;
  font-size: xx-large;
  animation: tymain 2s steps(100) infinite alternate-reverse, blink-c 0.75s step-end infinite;
}
@keyframes tymain {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-c {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.games-grid-category{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 18px;
}
.games-grid-category img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}
.games-grid-category div{
    transition: transform 0.3s ease-in-out;
}
.games-grid-category div:hover{
    transform: scale(1.1);
}
.games-grid-category h3{
    color: whitesmoke;
    text-align: center;
}
.footer{
    background-color: rgb(6, 212, 235);
    color: black;
    padding: 20px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-about, .footer-links, .footer-socials{
    flex-basis: 30%;
    margin-right: 20px;
}
.footer h3{
    margin-top: 0;
}
.footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer li{
    margin-bottom: 10px;
}
.footer a{
    color: black;
    text-decoration: none;
}
.footer a:hover{
    color: whitesmoke;
}
.footer-bottom{
    background-color: #141414;
    padding: 10px 0;
    margin-bottom: 0;
    text-align: center;
    color: whitesmoke;
}